<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update user</title>
    <style>
        table, th, td {
          border:1px solid black;
          border-collapse: collapse;
        }
        .create-user-container {
            padding   : 15px;
            text-align: center;
        }

        .create-user-container label {
            display: block;
        }

        .create-user-container .btn-submit {
            margin-top: 15px;
            cursor    : pointer;
        }


        .update-user-container {
            padding   : 15px;
            text-align: center;
        }

        .update-user-container label {
            display: block;
        }

        .btn-save {
            margin-top: 15px;
            cursor    : pointer;
        }

        .upload-file-container {
            padding: 15px;
        }

        .upload-file-container label {
            display: block;
        }

        hr {
            border-top: 3px solid #eee !important;
        }
    </style>
</head>

<body>
    <div class="update-user-container">
        <form action="/update-product" method="POST">
            <div>
                <label>Name:</label>
                <input name="name" value="<%= dataProduct.name %>" />
            </div>
            <div>
                <label>Image:</label>
                <input name="image" value="<%= dataProduct.image %>" />
            </div>
            <div>
                <label>Price:</label>
                <input name="price" value="<%= dataProduct.price %>" />
            </div>
            <div>
                <label>Description:</label>
                <input name="description" value="<%= dataProduct.description %>" />
            </div>
            <input type="text" value="<%= dataProduct.id %>" hidden name="id" />
            <div>
                <button class="btn-save" type="submit">Save</button>
            </div>

        </form>
    </div>

</body>

</html>